@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #1A1924;
    width: 100vw;
    height: 100vw;
}
.cabecalho{
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-attachment: fixed;
}

.cabecalho h1{
    color: white;
}

.cabecalho div#disponivel{
    color: #00B37E;
    font-weight: bold;
}

.cabecalho div#disponivel::before{
    content: ''; 
    display: inline-block; 
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    margin-right: 5px;
    background-color: #00B37E; 
}
p, div#mensagem{
    margin-top: 5px;
    margin-left: 20px;
}

p#horario{
    background-color: #1A1924;
}
section{
    color: white;
}

div#mensagem{
    background-color: #00B37E;
    border-radius: 20px;
    max-width: 150px;
}

.mensagens{
    margin-top: 50px;
}


form{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

form input#chat{
    width: 880px;
    height: 52px;
    padding: 14px 24px;
    border-radius: 20px;
    background: #282843;
    border: none;
    color: white;
    font-size: 1.2em;
    margin-top: 57vh;
}

form input#chat:focus{
    outline: 0;
}

span#send{
    color: white;
    font-size: 3em;
    position: absolute;
    left: 340px;
    margin-top: 57vh;
}